/*@start section*/
.section {
    // height of navigation
    padding: 80px 0;
}
/*@end section*/




/*@start section-content*/
.section-content {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: relative;
    padding: 1.5rem 0;
    height: 100%;
}
/*@end section-content*/

